/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#d2d1f0;
}

h1{
    text-align: center;
    margin: 20px 0;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Расстояние между кнопками */
}

/* Стили кнопок */
.level-button {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.level-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.rating-button {
    width: 250px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #de68f5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.rating-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}


.disabled {
    background-color: #ccc;
    color: #666; /* Темный текст */
    opacity: 0.7; 
}
.disabled:hover {
    transform: none;
    background-color: #ccc;
}

/* Кнопка с правилами */
.upperButton {
    width:40px;
    height: 40px;
    position: absolute;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    background-color: transparent;
    color: #007BFF;
    border-radius: 50%;
    cursor: pointer;
}

.upperButton:hover {
    background-color: #007BFF;
    color: white;
}

#rulesMenuButton{
    top: 20px;
    right: 20px;
}

#unlogButton{
    top: 20px;
    right: 80px;
    background-image: url('../data/logout.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 4px;
}

/* Контейнер для выпадающего списка */
.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Расстояние между элементами */
    padding: 30px;
}

/* Метка */
.dropdown-label {
    font-size: 18px;
    color: #333;
}

/* Выпадающий список */
.dropdown {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s;
}

.dropdown:hover {
    border-color: #007BFF;
}

/* Информация о игроке  потом переделать а то адаптивность хромает*/
.player-info {
    position: absolute;
    top: 50px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}


/* Баннер уведомления */
#not-banner {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff9800; /* Оранжевый */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Скрыт по умолчанию */
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

/* Показ баннера */
#not-banner.show-banner {
    opacity: 1;
    pointer-events: auto;
}

/* Скрытый баннер по умолчанию */
.hidden-banner {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff; /* Синий фон */
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Видимый баннер */
.show-banner {
    opacity: 1;
    visibility: visible;
    pointer-events: all; /* Делает баннер кликабельным */
}

/* Кнопка "крестик" для закрытия баннера */
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
.close-button:hover {
    color: #fc8c8c; /* Красный оттенок при наведении */
}


/* Заголовок баннера */
.banner-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Контейнер с описанием уровней */
.rules-content {
    margin-top: 10px;
    color: #e6e8f5;
}

/* Информация о каждом уровне */
.level-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #f1f3f7;
}

.level-info p {
    font-size: 14px;
    line-height: 1.6;
}